.jumbotron {
    width: 80vw;
    margin: 2% auto;
    border-radius: 5px;
    background-color: rgba(20,20,20,0.05);
}

h3 {
    font-size: 2em;
}

p {
    color: orange;
    font-size: 1em;
}

a {
    border: 1px solid #309550 !important;
    background: none;
    border-radius: 5px;
    width: 20vw;
    color: white !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 2%;
}

button {
    margin: 0 auto;
    display: block;
    background: none;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 3%;
    padding: 1%;
}
