form {
    width: 80vw;
    background-color: rgba(20,20,20,0.05);
    padding: 4%;
    border-radius: 5px;
    margin: 0 auto;
}

button {
    margin: 0 auto;
    display: block;
    background: none;
    color: white;
}

button:hover {
    background: none;
    color: orange;
}

h3 {
    text-align: center;
    color: white;
    font-size: 2em;
}

.jumbotron {
    width: 80vw;
    margin: 2% auto;
    border-radius: 5px;
    background-color: rgba(20,20,20,0.05);
}

.taskheader {
    color: white;
}

#dailygoal {
    background-color: rgba(20,20,20,0.0);
}

#dailyheader {
    color: white;
    font-size: 1.8em;
    font-weight: bolder;
}

#prioritytasks {
    background-color: rgba(20,20,20,0.05);
}
label {
    display: inline;
    color: white !important;
}

#checkbox {
    width: 2vw;
    height: 2.5vh;
    display: inline-block;
}

#pin {
    color: white!important;
    margin-right: 2%;
    background-color:#2274A5;
    width: 7vw;
    width: 4vh;
    text-align: center;
    opacity: 0.9;
    padding: 1.5%;
    border-radius: 80px;
}

#priorityheader {
    color: white;
}

#daily {
    display: block;
    font-size: 3em;
    text-align: center;
    color: orange;
    margin: 0 auto;
}
input {
    background: none;
    border: 1px solid white;
    color: white;
}

#deleteall {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 3%;
    font-size: 0.8em;
}

#deleteall:hover {
    color: red;
}
#showdeleted {
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

#showdeleted:hover {
    color: orange;
}

a {
    color: white !important;
}

a:hover {
    color: #ED4D6E !important;
    text-decoration: none;
}

.taskcount {
    color: orange;
    font-size: 1em;
    text-align: center;
}

#pending {
    color: white;
    text-align: center;
}