    
   
    <div class="panel panel-default">
    <!--left-hand side task panel elements-->
    <span id="task"> {{ task.task }} </span>
    <span id="deadline" *ngIf="task.status === false && task.deleted === false && task.deadline.getDate() !== date.getDate() || task.deadline.getMonth() !== date.getMonth()"> {{ task.deadline.getDate() }}/{{ task.deadline.getMonth() + 1}}</span>
    <span id="done" *ngIf="task.status === true"> : ) </span>
    <span id="overdue" *ngIf="task.deadline.getDate() < date.getDate() && task.deadline.getMonth() === date.getMonth() && task.status === false && task.deleted === false "> !!!!!</span>
    <!--right-hand side task panel elements-->
    <a id="del" *ngIf="task.deleted === false" href (click)="delete()"> del</a>
    <a id="clr" *ngIf="task.status === false && task.deleted === false" href (click)="done()"> clr </a>
    <a  id="pin" *ngIf="task.priority === false && task.status === false && task.deleted === false && task.deadline.getDate() !== date.getDate() || task.deadline.getMonth() !== date.getMonth()"href (click)="prioritize()">pin</a>
    <a id="rest" *ngIf="task.deleted === true" href (click)="restore()"> rest </a>
    </div>
    