.panel {
    margin: 1% 3%;
    color: white;
    background: none;
    padding: 1%;
    height: 4vh;
}

#task {
    float: left;
}

#deadline {
    color: orange;
    margin-left: 2%;
    float: left;
}

#overdue {
    color: #FB3640;
    font-weight: bold;
    float: left;
}

#done {
    float: left;
    margin-left: 2%;
    color: #86A989;
}

#pin, #clr, #del, #rest {
    float: right;
    color: white!important;
    margin-right: 2%;
    border-radius: 80px;
    width: 7vw;
    width: 4vh;
    text-align: center;
}

#pin {
    background-color:#2274A5;
}

#clr {
    background-color:#648767;
}

#del {
    background-color:#ED4D6E;
}

#rest {
    background-color:#F78764;
}




