    
   
    <div class="panel panel-default">
    <div> <span id="task"> {{ task.task }} </span>
      
      <span *ngIf="task.status === false && task.deleted === false && task.deadline.getDate() !== date.getDate() || task.deadline.getMonth() !== date.getMonth()" id="assign"> {{ task.deadline.getDate() }}/{{ task.deadline.getMonth() + 1}}</span>
     
     <span *ngIf="task.status === true"> : ) </span>

     <span id="overdue" *ngIf="task.deadline.getDate() < date.getDate() && task.deadline.getMonth() === date.getMonth() && task.status === false && task.deleted === false "> !!!!!</span>
    


     <a id="deleted" href (click)="delete()">
            {{ task.deleted === false ? "del": ""}} 
           </a>

    <a id="done" href (click)="done()">
              {{ task.status === false && task.deleted === false ? "clr" :""}}
            </a>

    <a id="impt" href (click)="prioritize()">
     
      {{ task.priority === false && task.status === false && task.deleted === false && task.deadline.getDate() !== date.getDate() || task.deadline.getMonth() !== date.getMonth() ? "pin":""}}
            </a>

    <a id="restore" href (click)="restore()">
      {{ task.deleted === true ? "rest":""}}
      </a>


    </div>

    </div>
    