.jumbotron {
    width: 80vw;
    margin: 2% auto;
    background: none;
}

#goal {
    font-size: 3em;
    color: orange;
}

form {
    width: 80vw;
    background-color: rgba(20,20,20,0.05);
    padding: 4%;
    border-radius: 5px;
    margin: 0 auto;
}

input {
    border: 1px solid white;
    margin-top: 2%;
    color: black;
}

label {
    margin-left: 2%;
    background-color:#2274A5;
    padding: 1.5%;
    border-radius: 80px;
    display: inline-block;
}

#checkbox {
    display: inline-block;
    width: 3vw;
    height: 3vh;
}


button {
    margin: 0 auto;
    margin-top: 1%;
    display: block;
    background: none;
    color: white;
}

button:hover {
    color: orange;
}

h3 {
    font-size: 2em;
}

a {
    color: #A9FBC3 !important;
}

