    <div class="jumbotron" id="dailygoal"> <h3 id="daily">{{dailyGoalsValue}} </h3></div>
    <ga-dailygoal (dailyGoalsChanged)="onChange($event)"> </ga-dailygoal>
    
    <div class="jumbotron" id="prioritytasks"> 
      <h3 id="priorityheader"> PRIORITY TASKS</h3>
            <ga-task
        *ngFor="let task of priorityTasks()"
        [task]="task">
      </ga-task>
      
      </div>
    
    <form>
      <h3>ADD A TASK</h3>

      <div class="form-group">
        <input class="form-control" placeholder="Enter your task..." name="task" #newtask>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Assign to?" name="assign" #newassign>
      </div>
      <button (click)="addTask(newtask, newassign)"
              class="btn btn-default">
        SUBMIT
      </button>
    </form>


    
    <div class="jumbotron">
      <h3 class="taskheader"> PENDING </h3>
      <ga-task
        *ngFor="let task of pendingTasks()"
        [task]="task">
      </ga-task>
      </div>
    
    <div class="jumbotron">
      <h3 class="taskheader"> DONE </h3>
      <ga-task
        *ngFor="let task of doneTasks()"
        [task]="task">
      </ga-task>
      </div>



