  
    <ga-weather> </ga-weather>

    <!--rendering the event from dailygoals component and also adding task status-->
    <div class="jumbotron">  <h3 id="goal"> {{dailyGoalsValue}} </h3></div>
    <p> YOU HAVE {{tasks | todaystaskscount}} {{ (tasks | todaystaskscount) < 2 ? "TASK":"TASKS"}} LEFT TODAY...</p>
    <ga-dailygoal (dailyGoalsChanged)="onChange($event)"> </ga-dailygoal>

        
    <form name="form" (ngSubmit)="f.form.valid && addTask()" #f="ngForm" novalidate>
     

          <h3>ADD A TASK</h3>


      <div> <a *ngIf="!switchtaskform" (click)="switchTaskForm()"> ADD ! </a> <a *ngIf="switchtaskform" (click)="switchTaskForm()"> COLLAPSE </a> </div>

      <div *ngIf="switchtaskform">
      <div class="form-group" [ngClass]= "{'has-error': f.submitted && !task.valid}">
        <input class="form-control" type="text" placeholder="Enter your task..." name="task" [(ngModel)]="model.task" #task="ngModel" required>
      <div *ngIf="f.submitted && !task.valid" class="help-block">Task is required</div>

      </div>

      <div class="form-group" [ngClass]= "{'has-error': f.submitted && !description.valid}">
        <input class="form-control" type="text" placeholder="Enter your task details..." name="description" [(ngModel)]="model.description" #description="ngModel" required>
      <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>

      </div>

      <div class="form-group" [ngClass]= "{'has-error': f.submitted && !deadline.valid}">
        <input class="form-control" type="date" name="deadline" [(ngModel)]="model.deadline" #deadline="ngModel" required>
      <div *ngIf="f.submitted && !deadline.valid" class="help-block">Deadline is required</div>

      </div>

      <input id="checkbox" class="form-control" type="checkbox" name="priority" [(ngModel)]="model.priority" #priority="ngModel">  
      <label> pin </label>

     <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">SUBMIT</button>
  </div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
 </div>
</form>

    <ga-todaystasks [tasks]="tasks"> </ga-todaystasks>
    <ga-pinnedtasks [tasks]="tasks"> </ga-pinnedtasks>
    <ga-pendingtasks [tasks]="tasks"> </ga-pendingtasks>
    <ga-donetasks [tasks]="tasks"> </ga-donetasks>
    <ga-deletedtasks [tasks]="tasks"> </ga-deletedtasks>
    
    

    
  



