.panel {
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
    background-color: #333333;
    opacity: 0.9;
    border: none;
}

label {
    display: block;
    text-align: center;
    font-size: 1.5em;
    padding-top: 4%;
    color: white;
}

input {
    display: block;
    height: 10vh;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #333333;
    color: white;
}